/* --------------------------------------------------------- */
/* base
/* --------------------------------------------------------- */
html {
  font-size: 62.5%; /* 1remを10pxにするため */
}
a {
  text-decoration: none;
}
.section_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 0;
}
.content_wrapper {
  max-width: 1200px;
  width: 100%;
}
.section_title {
  font-size: 3.6rem;
  text-align: center;
  margin: 99px 0 73px;
}
.content_lead {
  font-size: 2.4rem;
}
.content_text {
  font-size: 1.4rem;
}

/* --------------------------------------------------------- */
/* header
/* --------------------------------------------------------- */
#header {
  background-color: #1B1310;
  height: 74px;
  position: absolute; /* fvと合わせて100vhに収めたいからfvに重ねている */
  z-index: 1;
}
#header .content_wrapper {
  border: 2px #FFFFFF;
  border-style: none none solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site_title {
  font-size: 2.6rem;
  margin: 19px 0 20px 120px;
}
.site_title a {
  color: #FFFFFF;
}
.header_nav {
  font-size: 1.6rem;
}
.nav_list {
  margin-right: 122px;
  width: 267px;
  display: flex;
  justify-content: space-between;
}
.nav_item a {
  color: #FFFFFF;
}

/* --------------------------------------------------------- */
/* first_view
/* --------------------------------------------------------- */
#first_view {
  height: 100vh;
  background-image: url(../img/fv-bgi@2x.jpg);
  background-size: cover;
  background-position: center center;
}
#first_view .content_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_copy_container {
  width: 449px;
  height: 136px;
  border: 2px solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center; /* TODO headerの高さを差し引いて中央寄せ */
}
.main_copy {
  font-size: 5rem;
  color: #FFFFFF;
}

/* --------------------------------------------------------- */
/* about
/* --------------------------------------------------------- */
