/* --------------------------------------------------------- */
/* base
/* --------------------------------------------------------- */
html {
  font-size: 62.5%; /* 1remを10pxにするため */
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
.section_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 0;
}
.content_wrapper {
  max-width: 1200px;
  width: 100%;
  padding: 0 85px;
}
.section_title {
  font-size: 3.6rem;
  text-align: center;
  margin: 149px 0 71px;
}
.content_lead {
  font-size: 2.4rem;
}
.content_text {
  font-size: 1.4rem;
}

/* --------------------------------------------------------- */
/* header
/* --------------------------------------------------------- */
#header {
  background-color: #1B1310;
  height: 74px;
  border: 2px #FFFFFF;
  border-style: none none solid;
  position: absolute; /* fvと合わせて100vhに収めたいからfvに重ねている */
  z-index: 1;
}
#header .content_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0; /* TODO 面幅を1200px以下にした時、画面端に15px余白を設ける */
}
.site_title {
  font-size: 2.6rem;
  margin: 19px 0 20px 120px;
}
.site_title a {
  color: #FFFFFF;
}
.header_nav {
  font-size: 1.6rem;
}
.nav_list {
  margin-right: 122px;
  width: 267px;
  display: flex;
  justify-content: space-between;
}
.nav_item a {
  color: #FFFFFF;
}

/* --------------------------------------------------------- */
/* first_view
/* --------------------------------------------------------- */
#first_view {
  height: 100vh;
  background-image: url(../img/fv-bgi@2x.jpg);
  background-size: cover;
  background-position: center center;
}
#first_view .content_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_copy_container {
  width: 449px;
  height: 136px;
  border: 2px solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center; /* TODO headerの高さを差し引いて中央寄せ */
}
.main_copy {
  font-size: 5rem;
  color: #FFFFFF;
}

/* --------------------------------------------------------- */
/* about
/* --------------------------------------------------------- */
#about .section_title {
  margin: 99px 0 73px;
}
.lead_container {
  margin-bottom: 42px;
}

/* --------------------------------------------------------- */
/* service
/* --------------------------------------------------------- */
.content_inner {
  display: flex;
  margin-bottom: 50px;
}
.content_inner.reverse {
  flex-direction: row-reverse;
}
.text_wrapper {
  margin: 0 0 0 70px;
}
.reverse .text_wrapper {
  margin: 0 70px 0 0;
}
/* TODO 画面横幅に合わせて画像や要素を縮小 */

/* --------------------------------------------------------- */
/* news
/* --------------------------------------------------------- */
.content_list {
  display: flex;
  justify-content: center;
}
.content_item {
  list-style: none;
  box-shadow: 0 0 5px 1px #707070;
  width: 320px;
  height: 320px;
  margin-right: 34px;
}
.content_item:last-of-type {
  margin-right: 0;
}
.card_text {
  margin: 23px 32px 25px 34px;
  line-height: 2.5;
  font-size: 1.3rem;
  box-sizing: border-box;
  /* TODO カードテキストがはみ出るのを修正 */
}

/* --------------------------------------------------------- */
/* contact
/* --------------------------------------------------------- */
#contact .content_wrapper {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
#contact .section_title {
  font-size: 2.4rem;
  margin: 152px 0 69px;
}
.contact_form {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin-bottom: 50px;
}
.contact_form label {
  line-height: 2.1;
}
.contact_form textarea {
  margin-bottom: 50px;
}
.input_text {
  margin-bottom: 22px;
}
#submit_btn {
border-style: none;
  width: 235px;
  height: 59px;
  font-size: 2rem;
  color: #FFFFFF;
  background-color: #1B1310;
  border-radius: 30px;
  box-shadow: 0 0 5px 1px #707070;
  /* TODO 中央寄せ */
}