/* --------------------------------------------------------- */
/* base
/* --------------------------------------------------------- */
html {
  /* 1remを10pxにする */
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: #ffffff;
}
ul {
  padding: 0;
  margin: 0;
}
header,
footer {
  background-color: #1b1310;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_title {
  font-size: 3.6rem;
  margin: 150px 0 70px;
  /* TODO サイトタイトルの上のmarginを0にして、セクションの下にmarginを持たせる */
}
.contents_wrapper {
  width: 100%;
  /* 左右に15pxの余白を配置して、その分だけ最大幅を増やす*/
  padding: 0 15px;
  max-width: calc(1030px + 15px * 2);
}
.content_lead {
  font-size: 2.4rem;
  margin-bottom: 42px;
}
.content_text {
  font-size: 1.4rem;
}
/* card */
/* 構成要素：card__img card__spaceholder card__text */
.card {
  display: flex;
}
.card__img {
  object-fit: cover;
}
/* 縦向きカード */
.card--vertical {
  flex-direction: column;
  box-shadow: 0 0 5px 1px #707070;
}
.card--vertical > .card__img {
  height: 62.5%;
}
.card--vertical > .card__spaceholder {
  height: 0%;
}
.card--vertical > .card__text {
  height: 37.5%;
}
/* 横向きカード */
.card--horizontal {
flex-direction: row;
}
.card--horizontal > .card__img {
  width: 46.6%;
}
.card--horizontal > .card__spaceholder {
  width: 6.8%;
}
.card--horizontal > .card__text {
  width: 46.6%;
}
/* 横向きカードの要素の並び順を逆にする属性 */
.card--horizontal--reverse {
  flex-direction: row-reverse;
}

/* --------------------------------------------------------- */
/* header
/* --------------------------------------------------------- */
header {
  height: 74px;
  border: 2px #ffffff;
  border-style: none none solid;
}
.header_container {
  width: 100%;
  /* 15pxは横幅1200px以内の時の左右の余白 */
  max-width: calc(1200px + 15px * 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.site_title {
  font-size: 2.6rem;
}
.nav_list {
  width: 269px;
  height: 21px;
  display: flex;
  justify-content: space-between;
}
.nav_item {
  font-size: 1.6rem;
}
/* --------------------------------------------------------- */
/* first_view
/* --------------------------------------------------------- */
#first_view {
  background-image: url(../img/fv-bgi@2x.jpg);
  background-size: cover;
  background-position: center center;
}
#first_view .section_container {
  /* 画面の高さ － headerの高さ */
  height: calc(100vh - 74px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_copy_container {
  width: 449px;
  height: 136px;
  border: 2px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_copy {
  font-size: 5rem;
  color: #ffffff;
}

/* --------------------------------------------------------- */
/* about
/* --------------------------------------------------------- */
#about .section_title {
  margin: 99px 0 73px;
}

/* --------------------------------------------------------- */
/* service
/* --------------------------------------------------------- */
/* TODO 文字余白設定 */

/* --------------------------------------------------------- */
/* news
/* --------------------------------------------------------- */
.content_list {
  display: flex;
  justify-content: center;
}
.content_item {
  height: 320px;
  margin-right: 34px;
}
.content_item:last-of-type {
  margin-right: 0;
}
/* TODO 縮小しても正方形にする */
/* .content_item:before {
  padding-top: 100%;
} */
/* TODO 画面横の余白が正しく入らないので対応 */

/* --------------------------------------------------------- */
/* contact
/* --------------------------------------------------------- */
#contact .contents_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contact .section_title {
  font-size: 2.4rem;
  margin: 152px 0 69px;
}
.contact_form {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin-bottom: 50px;
}
.contact_form label {
  line-height: 2.1;
}
.contact_form textarea {
  margin-bottom: 50px;
}
.input_text {
  margin-bottom: 22px;
}
.submit_btn {
  border-style: none;
  width: 235px;
  height: 59px;
  font-size: 2rem;
  color: #ffffff;
  background-color: #1b1310;
  border-radius: 30px;
  box-shadow: 0 0 5px 1px #707070;
  /* TODO 中央寄せ */
}

/* --------------------------------------------------------- */
/* footer
/* --------------------------------------------------------- */
footer {
  height: 79px;
  color: #ffffff;
}
