/* --------------------------------------------------------- */
/* base
/* --------------------------------------------------------- */
html {
  /* 1remを10pxにするため */
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: #ffffff;
}
ul {
  padding: 0;
  margin: 0;
}
header,
footer {
  background-color: #1b1310;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_title {
  font-size: 3.6rem;
  margin: 149px 0 71px;
}
.contents_wrapper {
  width: 100%;
  /* 15pxは横幅1030px以内の時の左右の余白 */
  max-width: calc(1030px + 15px * 2);
  padding: 0 15px;
}
.content_lead {
  font-size: 2.4rem;
  margin-bottom: 42px;
}
.content_text {
  font-size: 1.4rem;
}

/* --------------------------------------------------------- */
/* header
/* --------------------------------------------------------- */
header {
  height: 74px;
  border: 2px #ffffff;
  border-style: none none solid;
}
.header_container {
  width: 100%;
  /* 15pxは横幅1200px以内の時の左右の余白 */
  max-width: calc(1200px + 15px * 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.site_title {
  font-size: 2.6rem;
}
.nav_list {
  width: 269px;
  height: 21px;
  display: flex;
  justify-content: space-between;
}
.nav_item {
  font-size: 1.6rem;
}
/* --------------------------------------------------------- */
/* first_view
/* --------------------------------------------------------- */
#first_view {
  background-image: url(../img/fv-bgi@2x.jpg);
  background-size: cover;
  background-position: center center;
}
#first_view .section_container {
  /* 画面の高さ － headerの高さ */
  height: calc(100vh - 74px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_copy_container {
  width: 449px;
  height: 136px;
  border: 2px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_copy {
  font-size: 5rem;
  color: #ffffff;
}

/* --------------------------------------------------------- */
/* about
/* --------------------------------------------------------- */
#about .section_title {
  margin: 99px 0 73px;
}

/* --------------------------------------------------------- */
/* service
/* --------------------------------------------------------- */
.content_container {
  display: flex;
  /* margin-bottom: 50px; */
}
.content_container.reverse {
  flex-direction: row-reverse;
}
/* .text_wrapper {
  margin: 0 0 0 70px;
}
.reverse .text_wrapper {
  margin: 0 70px 0 0;
} */
/* TODO 画像サイズ・余白設定 */

/* --------------------------------------------------------- */
/* news
/* --------------------------------------------------------- */
.content_list {
  display: flex;
  justify-content: center;
}
.content_item {
  list-style: none;
  box-shadow: 0 0 5px 1px #707070;
  width: 33%;
  height: 320px;
  margin-right: 34px;
}
.content_item:last-of-type {
  margin-right: 0;
}
/* TODO 縮小しても正方形にする */
/* .content_item:before {
  padding-top: 100%;
} */
.card_img {
  width: 100%;
}
.card_text {
  margin: 0;
  padding: 23px 32px 25px 34px;
  line-height: 2.5;
  font-size: 1.3rem;
  box-sizing: border-box;
  /* TODO カードテキストがはみ出るのを修正 */
}

/* --------------------------------------------------------- */
/* contact
/* --------------------------------------------------------- */
#contact .contents_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contact .section_title {
  font-size: 2.4rem;
  margin: 152px 0 69px;
}
.contact_form {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin-bottom: 50px;
}
.contact_form label {
  line-height: 2.1;
}
.contact_form textarea {
  margin-bottom: 50px;
}
.input_text {
  margin-bottom: 22px;
}
.submit_btn {
  border-style: none;
  width: 235px;
  height: 59px;
  font-size: 2rem;
  color: #ffffff;
  background-color: #1b1310;
  border-radius: 30px;
  box-shadow: 0 0 5px 1px #707070;
  /* TODO 中央寄せ */
}

/* --------------------------------------------------------- */
/* footer
/* --------------------------------------------------------- */
footer {
  height: 79px;
  color: #ffffff;
}
