/* --------------------------------------------------------- */
/* base
/* --------------------------------------------------------- */
html {
  /* 1remを10pxに */
  font-size: 62.5%;
}
body {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Noto Sans JP", sans-serif, "Roboto", "Avenir";
}
/* ハンバーガーメニューオープン時に画面スクロールをロックするための属性 */
body.noscroll {
  overflow: hidden;
}
/* ribbon: ページ装飾。ヘッダーとフッターに使用。 */
.ribbon {
  background-color: #1b1310;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ribbon--menu-contain {
  height: 74px;
  border: 2px #ffffff;
  border-style: none none solid;
}
.ribbon--credit {
  height: 79px;
  color: #ffffff;
}
/* //ヘッダーとフッターの装飾 */
.section_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_title {
  font-size: 3.6rem;
  margin: 150px 0 70px;
}
.contents_wrapper {
  width: 100%;
  /* 左右に15pxの余白を配置して、その分だけ最大幅を増やす*/
  padding: 0 15px;
  max-width: calc(1030px + 15px * 2);
}
.content_lead {
  font-size: 2.4rem;
  letter-spacing: 10;
  line-height: 2;
  margin-bottom: 42px;
}
.content_text {
  font-size: 1.4rem;
  letter-spacing: 5;
  line-height: 3;
}
@media screen and (max-width: 768px) {
  .section_title {
    margin-top: 100px;
  }
  .content_lead {
    font-size: 2rem;
    margin-bottom: 31px;
  }
  .content_text {
    margin-bottom: 50px;
  }
}
/* card */
/* 構成要素：card__img card__separater card__text */
.card {
  display: flex;
}
.card__img {
  -o-object-fit: cover;
  object-fit: cover;
}
/* 縦向きカード */
.card--vertical {
  flex-direction: column;
  box-shadow: 0 0 5px 1px #707070;
}
.card--vertical > .card__img {
  height: 62.5%;
}
.card--vertical > .card__separater {
  height: 0%;
}
.card--vertical > .card__text {
  height: 37.5%;
  padding: 4% 10%;
  line-height: 2.5;
  font-size: 1.3rem;
}
.card--vertical > .card__text > p {
  margin: 0;
}
/* 横向きカード */
.card--horizontal {
  flex-direction: row;
}
.card--horizontal > .card__img {
  width: 46.6%;
}
.card--horizontal > .card__separater {
  width: 6.8%;
}
.card--horizontal > .card__text {
  width: 46.6%;
}
.card--horizontal--reverse {
  flex-direction: row-reverse;
}
@media screen and (max-width: 768px) {
  .card {
    margin-bottom: 50px;
  }
  .card--vertical {
    margin: 0 7.5px 50px 7.5px;
  }
  .card--horizontal {
    flex-direction: column-reverse;
  }
  .card--horizontal > .card__img {
    width: 100%;
  }
  .card--horizontal > .card__text {
    width: 100%;
  }
  .card__text > .content_text {
    margin-bottom: 40px;
  }
}
/* //card */

/* --------------------------------------------------------- */
/* header
/* --------------------------------------------------------- */
.header_container {
  width: 100%;
  /* 15pxは横幅1200px以内の時の左右の余白 */
  max-width: calc(1200px + 15px * 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.site_title {
  font-size: 2.6rem;
}
.nav_list {
  padding: 0;
  margin: 0;
  width: 269px;
  height: 21px;
  display: flex;
  justify-content: space-between;
}
.nav_item {
  font-size: 1.6rem;
}
.nav_item::before {
  content: "";
}
.nav_item:last-of-type {
  display: none;
}
.in_site_link {
  text-decoration: none;
  color: #ffffff;
}
.hamburger_btn {
  display: none;
  border-style: none;
  background: none;
  position: fixed;
  top: 20px;
  right: 15px;
  z-index: 2;
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.hamburger_btn__bar {
  display: block;
  position: absolute;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  width: 25px;
  height: 2px;
}
/* メニュー非表示時のハンバーガーボタンの見た目 */
.hamburger_btn__bar--top {
  transform: translate(0px, -8px);
  transition: 0.3s;
}
.hamburger_btn__bar--middle {
  opacity: 1;
  transition: 0.3s;
}
.hamburger_btn__bar--bottom {
  transform: translate(0px, 8px);
  transition: 0.3s;
}
/* //メニュー非表示時のハンバーガーボタンの見た目 */
/* メニュー表示時のハンバーガーボタンの見た目 */
.hamburger_btn__bar--top.hamburger_btn__bar--cross {
  transform: rotate(0.125turn);
  transition: 0.3s;
}
.hamburger_btn__bar--middle.hamburger_btn__bar--cross {
  opacity: 0;
  transition: 0.3s;
}
.hamburger_btn__bar--bottom.hamburger_btn__bar--cross {
  transform: rotate(-0.125turn);
  transition: 0.3s;
}
/* //メニュー表示時のハンバーガーボタンの見た目 */
@media screen and (max-width: 768px) {
  .header_nav.header_nav--menu_open {
    display: block;
  }
  .header_nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(27, 19, 16, 0.9);
  }
  .nav_list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav_item {
    margin-bottom: 50px;
  }
  .nav_item:last-of-type {
    display: block;
    margin-bottom: 0;
  }
  .hamburger_btn {
    display: flex;
  }
}
/* --------------------------------------------------------- */
/* first_view
/* --------------------------------------------------------- */
#first_view {
  background-image: url(../img/fv-bgi@2x.jpg);
  background-size: cover;
  background-position: center center;
}
#first_view .section_container {
  /* 画面の高さ － headerの高さ */
  height: calc(100vh - 74px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_copy_container {
  width: 449px;
  height: 136px;
  border: 2px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_copy {
  font-size: 5rem;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  #first_view {
    background-image: url(../img/fv-bgi_sp@2x.jpg);
  }
  .main_copy_container {
    width: 300px;
    height: 100px;
  }
  .main_copy {
    font-size: 3rem;
  }
}
/* --------------------------------------------------------- */
/* about
/* --------------------------------------------------------- */
#about .section_title {
  margin: 99px 0 73px;
}

/* --------------------------------------------------------- */
/* service
/* --------------------------------------------------------- */

/* --------------------------------------------------------- */
/* news
/* --------------------------------------------------------- */
.content_list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.content_item {
  height: 31.06%;
  width: 31.06%;
  margin-right: 3.3%;
}
.content_item:last-of-type {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .content_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 7.5px;
  }
  .content_item {
    width: 100%;
    margin-right: 0;
  }
}

/* --------------------------------------------------------- */
/* contact
/* --------------------------------------------------------- */
#contact .contents_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contact .section_title {
  font-size: 2.4rem;
  margin: 152px 0 69px;
}
.contact_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
}
.contact_form_body {
  /* 15pxは横幅700px以内の時の左右の余白 */
  max-width: calc(700px + 15px * 2);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 15px;
}
.contact_form label {
  line-height: 2.1;
  font-size: 1.6rem;
}
.contact_form textarea {
  margin-bottom: 50px;
  font-size: 1.6rem;
  line-height: 1.5;
  height: 171px;
  padding: 2px 4px;
}
.input_text {
  margin-bottom: 22px;
  font-size: 1.6rem;
  line-height: 1.5;
  height: 30px;
  padding: 2px 4px;
}
.submit_btn {
  border-style: none;
  width: 235px;
  height: 59px;
  font-size: 2rem;
  color: #ffffff;
  background-color: #1b1310;
  border-radius: 30px;
  box-shadow: 0 0 5px 1px #707070;
}

/* --------------------------------------------------------- */
/* footer
/* --------------------------------------------------------- */
