/* --------------------------------------------------------- */
/* base
/* --------------------------------------------------------- */
html {
  /* 1remを10pxに */
  font-size: 62.5%;
}
body {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Noto Sans JP",
    sans-serif, "Roboto", "Avenir";
}
/* ヘッダーとフッターの装飾 */
.ribbon {
  background-color: #1b1310;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ribbon--header {
  height: 74px;
  border: 2px #ffffff;
  border-style: none none solid;
}
.ribbon--footer {
  height: 79px;
  color: #ffffff;
}
/* //ヘッダーとフッターの装飾 */
.section_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_title {
  font-size: 3.6rem;
  margin: 150px 0 70px;
}
.contents_wrapper {
  width: 100%;
  /* 左右に15pxの余白を配置して、その分だけ最大幅を増やす*/
  padding: 0 15px;
  max-width: calc(1030px + 15px * 2);
}
.content_lead {
  font-size: 2.4rem;
  letter-spacing: 10;
  line-height: 2;
  margin-bottom: 42px;
}
.content_text {
  font-size: 1.4rem;
  letter-spacing: 5;
  line-height: 3;
}
@media screen and (max-width: 768px) {
  .section_title {
    margin-top: 100px;
  }
  .content_lead {
    font-size: 2.0rem;
    margin-bottom: 31px;
  }
  .content_text {
    margin-bottom: 50px;
  }
}
/* card */
/* 構成要素：card__img card__spaceholder card__text */
.card {
  display: flex;
}
.card__img {
  object-fit: cover;
}
/* 縦向きカード */
.card--vertical {
  flex-direction: column;
  box-shadow: 0 0 5px 1px #707070;
}
.card--vertical > .card__img {
  height: 62.5%;
}
.card--vertical > .card__spaceholder {
  height: 0%;
}
.card--vertical > .card__text {
  height: 37.5%;
  padding: 4% 10%;
  line-height: 2.5;
  font-size: 1.3rem;
}
.card--vertical > .card__text > p {
  margin: 0;
}
/* 横向きカード */
.card--horizontal {
  flex-direction: row;
}
.card--horizontal > .card__img {
  width: 46.6%;
}
.card--horizontal > .card__spaceholder {
  width: 6.8%;
}
.card--horizontal > .card__text {
  width: 46.6%;
}
/* 横向きカードの要素の並び順を逆にする属性 */
.card--horizontal--reverse {
  flex-direction: row-reverse;
}
@media screen and (max-width: 768px) {
  .card {
    margin-bottom: 50px;
  }
  .card--horizontal {
    flex-direction: column-reverse;
  }
  .card--horizontal > .card__img {
    width: 100%;
  }
  .card--horizontal > .card__text {
    width: 100%;
  }
  .card__text > .content_text {
    margin-bottom: 40px;
  }
}
/* //card */

/* --------------------------------------------------------- */
/* header
/* --------------------------------------------------------- */
.header_container {
  width: 100%;
  /* 15pxは横幅1200px以内の時の左右の余白 */
  max-width: calc(1200px + 15px * 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.site_title {
  font-size: 2.6rem;
}
.nav_list {
  padding: 0;
  margin: 0;
  width: 269px;
  height: 21px;
  display: flex;
  justify-content: space-between;
}
.nav_item {
  font-size: 1.6rem;
}
.nav_item::before {
  content: "";
}
.in_site_link {
  text-decoration: none;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .header_nav {
    display: none;
  }
}
/* --------------------------------------------------------- */
/* first_view
/* --------------------------------------------------------- */
#first_view {
  background-image: url(../img/fv-bgi@2x.jpg);
  background-size: cover;
  background-position: center center;
}
#first_view .section_container {
  /* 画面の高さ － headerの高さ */
  height: calc(100vh - 74px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_copy_container {
  width: 449px;
  height: 136px;
  border: 2px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_copy {
  font-size: 5rem;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  #first_view {
    background-image: url(../img/fv-bgi_sp@2x.jpg);
  }
  .main_copy_container {
    width: 300px;
    height: 100px;
  }
  .main_copy {
    font-size: 3rem;
  }
}
/* --------------------------------------------------------- */
/* about
/* --------------------------------------------------------- */
#about .section_title {
  margin: 99px 0 73px;
}

/* --------------------------------------------------------- */
/* service
/* --------------------------------------------------------- */

/* --------------------------------------------------------- */
/* news
/* --------------------------------------------------------- */
.content_list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.content_item {
  height: 31.06%;
  width: 31.06%;
  margin-right: 3.3%;
}
.content_item:last-of-type {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .content_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .content_item {
    width: 100%;
    margin-right: 0;
  }
}

/* --------------------------------------------------------- */
/* contact
/* --------------------------------------------------------- */
#contact .contents_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contact .section_title {
  font-size: 2.4rem;
  margin: 152px 0 69px;
}
.contact_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
  max-width: 700px;
}
.contact_form_body {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* TODO 横に余白設定する */
}
.contact_form label {
  line-height: 2.1;
}
.contact_form textarea {
  margin-bottom: 50px;
}
.input_text {
  margin-bottom: 22px;
}
.submit_btn {
  border-style: none;
  width: 235px;
  height: 59px;
  font-size: 2rem;
  color: #ffffff;
  background-color: #1b1310;
  border-radius: 30px;
  box-shadow: 0 0 5px 1px #707070;
}

/* --------------------------------------------------------- */
/* footer
/* --------------------------------------------------------- */
